@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
    color: #fff;
    font-weight: 600;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, #140f94, #3c0a67);
}
.body{
    width: 100%;
    max-width: 320px;
    height: 100%;
    max-height: 590px;
    background: #101010;
    margin: 80px auto;
    padding: 15px 10px 28px;
    border-radius: 25px;
    
}
h1{
    margin-top: 2px;
    text-align: center;
    font-size: 30px;
}
.row{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}
input{
    width: 90%;
    height: 80px;
    border: none;
    outline: none;
    background: #1e1e1e;
    font-size: 22px;
    padding: 20px 20px;
    margin: 20px 18px 30px;
    text-align: right;
}
button{
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 30px;
    width: 65px;
    height: 65px;
    margin: 6px 3px;
    text-align: center;
    cursor: pointer;
}
.words{
    font-size: 25px;
}
.action{
    background: #282828;
}
.number{
    background: #3D3C3C;
}
.equal{
    background: #8D8D8D;
}
@media screen and (max-height: 800px){
    .body{
        width: 100%;
        max-width: 320px;
        height: 100%;
        max-height: 590px;
        background: #101010;
        margin: 10% auto;
        padding: 15px 10px 28px;
        border-radius: 25px;
        
    }
}
